<ion-view view-title="Feedback">
    
    <!-- BACKBTN ICON START -->
    <ion-nav-buttons side="left">
        <a ng-click="doTheBack()" class="cs-backbtn button button-icon icon ion-android-arrow-back fff"></a>
    </ion-nav-buttons>
    <!-- BACKBTN ICON END-->
    
    <!-- HOME ICON START -->
    <ion-nav-buttons side="right">
        <a href="#/tab/home" class="button button-icon icon ion-home fff font-24"></a>
    </ion-nav-buttons>
    <!-- HOME ICON END-->
    
    <ion-content>
        <div class="fed-height">
            <div class="feedback">
                <ul>
                    <li class="retailer-talk">
                        <div class="data">
                            <p>It is a long established</p>
                            <p class="date">05-NOV-2017</p>
                        </div>
                    </li>
                    <li class="retailer-talk">
                        <div class="data">
                            <p>It is a long established fact that a reader</p>
                            <p class="date">05-NOV-2017</p>
                        </div>
                    </li>
                    <li class="admin-talk">
                        <div class="icon">
                            <div class="outer">
                                <div class="innear">
                                    <i class="material-icons">person</i>
                                </div>
                            </div>
                        </div>
                        <div class="data">
                            <p>It is a long established fact the</p>
                            <p class="date">05-NOV-2017</p>
                        </div>
                    </li>
                    <li class="retailer-talk">
                        <div class="data">
                            <p>It is a long established fact that a reader will be distracted by the that a reader will be distracted by the</p>
                            <p class="date">05-NOV-2017</p>
                        </div>
                    </li>
                    <li class="admin-talk">
                        <div class="icon">
                            <div class="outer">
                                <div class="innear">
                                    <i class="material-icons">person</i>
                                </div>
                            </div>
                        </div>
                        <div class="data">
                            <p>It is a long established fact the</p>
                            <p class="date">05-NOV-2017</p>
                        </div>
                    </li>
                    <li class="retailer-talk">
                        <div class="data">
                            <p>OK</p>
                            <p class="date">nov</p>
                        </div>
                    </li>
                </ul>
            </div> 
        </div>
        
    </ion-content>
    
    <ion-footer-bar position="bottom" keyboard-attach class="dl-fedback">
        <div class="inte">
            <input type="text" name="" value="" placeholder="FEEDBACK...">
            <button><i class="material-icons">near_me</i></button>
        </div>
    </ion-footer>
    
    
    
</ion-view>